black==23.7.0
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
execnet==2.0.2
idna==3.4
iniconfig==2.0.0
maskpass==0.3.7
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.2
platformdirs==3.10.0
pluggy==1.2.0
pynput==1.7.6
pytest==7.4.0
pytest-dotenv==0.5.2
pytest-xdist==3.3.1
python-dotenv==1.0.0
requests==2.31.0
six==1.16.0
urllib3==2.0.4
